* {
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  width: auto;
  height: 70px;
  margin-right: 85px;
  margin-left: 85px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: #1b1b1b;
  gap: 70px;
}
.navigation li a {
  color: #9c9c9c;
  background-color: #1b1b1b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IMB plex mono, monospace;
  width: 94px;
  height: 18px;
  gap: 10px;
  letter-spacing: 1px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 34px;
  font-weight: 800;
  line-height: 100%;
}
img {
  display: flex;
  width: 445px;
  height: 300px;
}
.project {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
}
.cleaning {
  width: auto;
  height: auto;
  margin: 30px;
}
.landing {
  width: auto;
  height: auto;
  margin: 30px;
}
p {
  width: 421px;
  height: auto;
  font-family: IBM Plex Mono, monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: rgba(156, 156, 156, 1);
}
h3 {
  background-color: rgba(63, 142, 0, 1);
  border-radius: 1px, rgba(98, 186, 27, 1);
  padding: 10px 24px;
  width: 139px;
  color: white;
  gap: 10px;
}
