* {
  margin: o;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  width: 1100px;
  height: 70px;
  margin-left: 85px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: #1b1b1b;
  gap: 70px;
}
.navigation li a {
  color: #9c9c9c;
  background-color: #1b1b1b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IMB plex mono, monospace;
  width: 94px;
  height: 18px;
  gap: 10px;
  letter-spacing: 1px;
}
body {
  width: 1109.89px;
  height: 676px;
}
h1 {
  display: flex;
  width: 211px;
  height: 40px;
  margin-left: 450px;
}
