* {
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  width: 1100px;
  height: 70px;
  margin-left: 85px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: #1b1b1b;
  gap: 70px;
}
.navigation li a {
  color: #9c9c9c;
  background-color: #1b1b1b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IMB plex mono, monospace;
  width: 94px;
  height: 18px;
  gap: 10px;
  letter-spacing: 1px;
}
body {
  width: 1109.89px;
  height: 676px;
}
h1 {
  display: flex;
  width: 211px;
  height: 40px;
  margin-left: 475px;
  gap: 10px;
}
h5 {
  width: 600px;
  height: 72px;
  margin-left: 280px;
  gap: 10px;
}
img {
  display: flex;
  width: 445px;
  height: 300px;
}
.projects {
  display: flex;
  width: 1100px;
  height: 1000px;
}
.cleaning {
  width: 445px;
  margin-top: 182px;
  margin-left: 55px;
  height: 494px;
}
.landing {
  margin-top: 182px;
  margin-left: 50px;
  width: 445px;
  height: 494px;
}
p {
  width: 421px;
  height: 100px;
  font-family: IBM Plex Mono, monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: rgba(156, 156, 156, 1);
}
