* {
  margin: 0;
  padding: 0;
  width: 1280;
  height: 4483;
  background-color: rgba(8, 8, 8, 1);
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  width: 1100px;
  height: 70px;
  margin-left: 85px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: #1b1b1b;
  gap: 70px;
}
.navigation li a {
  color: #9c9c9c;
  background-color: #1b1b1b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IMB plex mono, monospace;
  width: 94px;
  height: 18px;
  gap: 10px;
  letter-spacing: 1px;
}
h1 {
  color: rgba(255, 255, 255, 1);
  width: 209px;
  height: 40px;
  font-weight: 800;
  font-size: 34px;
  margin-top: 150px;
  margin-left: 100px;
}
header p {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 570px;
  height: 48px;
  font-family: IMB plex mono, monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(156, 156, 156, 1);
}
h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 147px;
  margin-left: 100px;
  gap: 10px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
p {
  width: 360px;
  height: 72px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: IBM Plex Mono, monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: rgba(156, 156, 156, 1);
}
