* {
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  width: auto;
  height: 70px;
  margin-left: 85px;
  margin-right: 85px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: #1b1b1b;
  gap: 70px;
}
.navigation li a {
  color: #9c9c9c;
  background-color: #1b1b1b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IMB plex mono, monospace;
  width: auto;
  height: auto;
  gap: 10px;
  letter-spacing: 1px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 326px;
  font-family: raleway;
  padding: 40px;
}
.skills p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 147px;
  margin-bottom: 10px;
  gap: 10px;
  padding: 40px;
  font-family: IMB plex mono, monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1;
  color: rgba(156, 156, 156, 1);
}
img {
  width: 445px;
  height: 300px;
}
.top-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 50px;
}

h2 {
  width: auto;
  height: auto;
  padding: 71px;
  gap: 10px;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: rgba(8, 8, 8, 1);
}
p {
  width: auto;
  height: auto;
  font-family: IMB plax mono, monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  letter-spacing: 1%;
  color: rgba(156, 156, 156, 1);
}
button a {
  border-radius: 4%;
  padding: 10px 24px 10px 24px;
  text-decoration: none;
  overflow: hidden;
  width: 189px;
  height: 39px;
  gap: 10px;
}
.orange {
  padding: 10px 24px 10px 24px;
  background-color: rgba(255, 162, 23, 1);
  width: auto;
  height: auto;
  font-family: IBM Plex Mono, monospace;
  font-weight: 700;
  margin-top: 50px;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
span {
  font-family: IMB plax mono, monospace;
  font-weight: 700;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin-top: 250px;
  width: auto;
  height: auto;
}
.blue {
  background-color: rgba(0, 10, 255, 1);
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-left: 476px;
  border-radius: 4%;
  padding: 10px 24px 10px 24px;
  gap: 10px;
  box-shadow: 0px 8px 30px 0px rgba(0, 10, 255, 0.1);
}
.bottom-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 50px;
}
.green {
  background-color: rgba(42, 176, 144, 1);
  width: auto;
  height: auto;
  margin-top: 50px;
  border-radius: 4%;
  padding: 10px 24px;
  gap: 10px;
  box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
  color: rgba(255, 255, 255, 1);
  font-family: IBM Plex Mono, monospace;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}
