* {
  margin: 0;
  padding: 0;
  background-color: rgba(8, 8, 8, 1);
}
body {
  width: 1280px;
  height: 700px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  width: 1100px;
  height: 70px;
  margin-left: 85px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: #1b1b1b;
  gap: 70px;
}
.navigation li a {
  color: #9c9c9c;
  background-color: #1b1b1b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IMB plex mono, monospace;
  width: 94px;
  height: 18px;
  gap: 10px;
  letter-spacing: 1px;
}
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  margin: 150px auto 0;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 492px;
}
.left-section h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-weight: 800;
  font-size: 44px;
  padding-bottom: 10px;
  width: 426px;
  height: 52px;
}
.left-section p {
  font-family: IBM Plex Mono, monospace;
  color: rgba(156, 156, 156, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  gap: 10px;
  letter-spacing: 1px;
}
.right-section {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.me {
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
button {
  width: 307.89px;
  height: 63px;
  border-radius: 4%;
  border-color: rgba(98, 186, 27, 1);
  padding: 21px 64px 21px 64px;
  background-color: rgba(63, 142, 0, 1);
}
button span {
  width: 164px;
  height: 21px;
  font-family: IBM Plex Mono, monospace;
  font-weight: 700;
  background-color: rgba(63, 142, 0, 1);
  color: rgba(255, 255, 255, 1);
}
